// Colors

$very-dark-saturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);

// Fonts

$kumbh-sans: 'Kumbh Sans', sans-serif;

body {
    background: linear-gradient($soft-violet, $soft-blue);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 10em 1em;
    font-family: $kumbh-sans;
}
.container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    border-radius: 2em;
}
.container__image {
    width: 70%;
}
.container__faq h1{
    text-align: center;
    color: $very-dark-saturated-blue;
    font-weight: 700;
}